<!-- Video -->
<div class="video-background">
  <video autoplay loop muted playsinline>
    <!-- {{ block.settings.video_link }} -->
    <!-- {{ block.settings.background_video_url }} -->
    <source src="{{ section.settings.background_video_url }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="video-text">
    <div class="video-content">

      {% if section.settings.custom_image != blank %}
        <img width="{{ section.settings.custom_image_width }}" src="{{ section.settings.custom_image | img_url: 'master' }}" alt="Pink Nails" class="pink_nails">
      {% endif %}


      <div class="video-caption">
        {{ section.settings.background_video_text }}
      </div>

      <a href="{{ collections.all.url }}" class="video-button-link" style="text-decoration: none;">
        <div class="video-button"><span>SHOP ALL</span></div>
      </a>
      </div>
    </div>
  </div>
</div>

{% stylesheet %}
.video-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.video-button {
  color: #fff;
  border: 1px solid white;
  background-color: transparent;
  padding: 5px 30px;
  cursor: pointer;
  border-radius: 20px;
  font-size: .8em;
  margin-top: 10px;
  font-weight: normal;
}

.video-button:hover {
  border: 3px solid white;
}

.video-button:hover span {
  font-weight: bold;
}

.video-background {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Added this property to fix the zoom issue */
  z-index: -100;
}


.video-text {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    display: flex;
    justify-content: center;
}

  /* Default styles for all devices */
img.pink_nails {
  width: 400px;
  height: auto; /* Maintain aspect ratio */
}

/* Media query for screens smaller than 768px (typical phone width) */
@media (max-width: 767px) {
  img.pink_nails {
    width: 300px;
  }
}
{% endstylesheet %}

{% schema %}
  {
    "name": "Background Video",
    "class": "videoBackground",
    "settings": [
      {"type": "url",
        "id": "background_video_url",
        "label": "Background Video URL"
      },
      {
        "type": "text",
        "id": "background_video_text",
        "label": "Background Video Text",
        "default": "Your Text Here"
      },
      {
        "type": "image_picker",
        "id": "custom_image",
        "label": "Upload Your Image"
      },
      {
        "type": "number",
        "id": "custom_image_width",
        "label": "Custom Image Width",
        "info": "Specify the width in pixels (px).",
        "default": 280
      }
    ],
    "presets": [
      {
        "name": "Background Video",
        "category": {
          "en": "Main"
        }
      }
    ]
  }
{% endschema %}